<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link href="../styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body class="color-1 padding">
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
                <a>Styles</a>
                <ul class="dropdown-content">
                    <li id="redbtn">red</li>
                    <li id="bluebtn">blue</li>
                    <li id="greenbtn">green</li>
                    <li id="otherbtn">random</li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Owen Utley</h1>
    <h2>owen.utley17@gmail.com</h2>
    <footer>
        <button id="redSt" class="color-change" onclick="toggleStyle()">new style</button>
    </footer>
    <script src="../scripts/index.js"></script>
</body>
</html>