<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="../styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body class="color-1 padding">
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
                <a>Styles</a>
                <ul class="dropdown-content">
                    <li id="redbtn">red</li>
                    <li id="bluebtn">blue</li>
                    <li id="greenbtn">green</li>
                    <li id="otherbtn">random</li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Projects</h1>
    <main class="flex-set">
        <div class="card">
            <h2>title</h2>
                <p>
                    lacus vel facilisis volutpat est velit egestas dui id ornare arcu odio 
                    ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum 
                    est ultricies integer quis auctor elit sed vulputate mi sit amet mauris 
                    commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula 
                    ullamcorper malesuada proin libero nunc consequat interdum varius sit 
                    amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan 
                    tortor posuere ac ut consequat semper viverra nam libero justo laoreet 
                    sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate 
                    ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris
                </p>
            <img>
        </div>
    </main>
    <script src="../scripts/index.js"></script>
</body>
</html>