<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirit-Island</title>
    <link href="/resources/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body class="background-solid-blue top-padding">
    <nav class="navbar">
        <ul>
            <li><a href="/index.html">About</a></li>
            <li><a href="/resources/templates/projects.html">Projects</a></li>
            <li><a href="/resources/templates/contact.html">Contact</a></li>
        </ul>
    </nav>
    <main class="flex-set">
        <div class="card">
            <h2>title</h2>
            <p>This is information. This is information.</p>
            <p>This is information.</p>
            <img>
        </div>
    </main>
</body>
<script src="./scripts/index.js" type="text/script"></script>
</html>