nav {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;;
}

nav a {
    color: inherit;
    text-decoration: none;
    margin: 0 30px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    background-color: var(--primary-accent-color);
    color: var(--primary-color);
    border-radius: 5px;
}