.navbar {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.padding {
    padding: 50px;
}

.back-gradient {
    height: 100vh;
    background-image: url("../images/sun_mon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav > ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}

nav > ul > li > a:hover {
    background-color: rgb(60, 60, 60);
}

.background-solid-blue {
    background-color: rgb(5, 20, 50);
    color: rgb(160, 200, 210)
}