:root {
    --color-1: rgb(34, 9, 44);
    --color-2: rgb(135, 35, 65);
    --color-3: rgb(190, 49, 68);
    --color-4: rgb(240, 89, 65);
    --color-5: rgb(253, 226, 204);
}

.navbar {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.padding {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.back-gradient {
    height: 100vh;
    background-image: url("../images/sun_mon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav > ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-2);
    color: whitesmoke;
    padding: 15px;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 30px;
}

nav > ul > li > a:hover {
    background-color: var(--color-3);
}

.color-1 {
    background-color: var(--color-1);
    color: whitesmoke;
}

h1 {
    color: var(--color-4);
}

.icon-1 {
    height: 120px;
    width: 120px;
    border-radius: 20%;
    border: 2px var(--color-4) solid;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--color-5);
}