:root {
  --primary-color: #000814;
  --secondary-color: #001D3D;
  --tertiary-color: #003566;
  --primary-accent-color: #FFC300;
  --secondary-accent-color: #FFD60A;
  --tertiary-accent-color: #fffbd8;

}

body {
    color: var(--tertiary-accent-color);
    margin: 50px;
}

button {
    color: var(--tertiary-accent-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--primary-accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-accent-color);
}

button:active {
    background-color: var(--secondary-color);
    color: var(--tertiary-accent-color);
    border: 1px solid var(--secondary-color);
}